---
title: Tools Overflow
description:
name: tools-overflow
layout: page
base_url: "../../"
---
{{#extend "page"}}
{{#content "content"}}

<h2 class="t-mtXs t-mbMi t-fontMd t-normal">{{tools.overflow.pkg.description}}</h2>
<p class="t-mbGt t-mt0 t-fontSm"><a class="docs-link" href="{{tools.align.pkg.repository}}" target="_blank">{{tools.overflow.pkg.name}}</a> | v{{tools.overflow.pkg.version}}</p>

<section class="t-clear">
  <h3>overflow</h3>

  <div class="Demo-field">
    <code>t-overflowScroll</code>
    <div class="Demo-fixture t-overflowScroll t-mbMd" style="height:100px;">
      <div style="width:2000px; height:2000px;">
        inner: width:2000px; height:2000px;
      </div>
    </div>

    <code>t-overflow</code>
    <div class="Demo-fixture t-overflow t-mbMd" style="height:100px;">
      <div style="width:2000px; height:2000px;">
        inner: width:2000px; height:2000px;
      </div>
    </div>

    <code>t-overflowHidden</code>
    <div class="Demo-fixture t-overflowHidden t-mbMd" style="height:100px;">
      <div style="width:2000px; height:2000px;">
        inner: width:2000px; height:2000px;
      </div>
    </div>

    <code>t-overflowX</code>
    <div class="Demo-fixture t-overflowX t-mbMd" style="height:100px;">
      <div style="width:2000px; height:2000px;">
        inner: width:2000px; height:2000px;
      </div>
    </div>

    <code>t-overflowY</code>
    <div class="Demo-fixture t-overflowY t-mbMd" style="height:100px;">
      <div style="width:2000px; height:2000px;">
        inner: width:2000px; height:2000px;
      </div>
    </div>

  </div>
{{#markdown}}
```html
<div class="t-overflowScroll">...</div>
<div class="t-overflow">...</div>
<div class="t-overflowHidden">...</div>
<div class="t-overflowX">...</div>
<div class="t-overflowY">...</div>
```
{{/markdown}}
</section>


<section class="t-clear">
{{#markdown}}
### Install

```
npm install {{tools.overflow.pkg.name}} sircus-variables
```

### CSS import

```css
@import "{{tools.overflow.pkg.name}}";
@import "{{tools.overflow.pkg.name}}/responsive";
@import "sircus-variables";
```

### CSS

```css
{{{tools.overflow.css}}}
```
### Responsive CSS

```css
{{{tools.overflow.sm}}}
{{{tools.overflow.md}}}
{{{tools.overflow.lg}}}
```
{{/markdown}}
</section>

{{/content}}
{{/extend}}
