---
title: Variables
description:
name: variables
layout: page
base_url: "../"
---
{{#extend "page"}}
{{#content "content"}}

<h2 class="t-mtXs t-mbMi t-fontMd t-normal">{{variables.pkg.description}}</h2>
<p class="t-mbGt t-mt0 t-fontSm"><a class="docs-link" href="https://github.com/sircus/{{file.meta.name}}" target="_blank">{{variables.pkg.name}}</a> | v{{variables.pkg.version}}</p>

<section class="t-clear">
{{#markdown}}
### CSS

```css
{{{variables.css}}}
```
{{/markdown}}
</section>

{{/content}}
{{/extend}}
