---
title: Components Grid
description:
layout: page
name: components-grid
base_url: "../../"
---
{{#extend "page"}}
{{#content "content"}}

<h2 class="t-mtXs t-mbMi t-fontMd t-normal">{{components.grid.pkg.description}}</h2>
<p class="t-mbGt t-mt0 t-fontSm"><a class="docs-link" href="{{tools.align.pkg.repository}}" target="_blank">{{components.grid.pkg.name}}</a> | v{{components.grid.pkg.version}}</p>

<section class="t-clear">

<h3>Base</h3>
<div class="Demo-field">
  <div class="Grid t-gutterReset">
    <div class="Grid-col t-widthFull">
      <div class="Demo-fixture Demo-fixture--height4x">01</div>
    </div>
    <div class="Grid-col t-widthHalf">
      <div class="Demo-fixture Demo-fixture--height4x">02</div>
    </div>
    <div class="Grid-col t-widthHalf">
      <div class="Demo-fixture Demo-fixture--height4x">03</div>
    </div>
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height4x">04</div>
    </div>
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height4x">05</div>
    </div>
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height4x">06</div>
    </div>
    <div class="Grid-col t-width3of12">
      <div class="Demo-fixture Demo-fixture--height4x">07</div>
    </div>
    <div class="Grid-col t-width3of12">
      <div class="Demo-fixture Demo-fixture--height4x">08</div>
    </div>
    <div class="Grid-col t-width3of12">
      <div class="Demo-fixture Demo-fixture--height4x">09</div>
    </div>
    <div class="Grid-col t-width3of12">
      <div class="Demo-fixture Demo-fixture--height4x">10</div>
    </div>
    <div class="Grid-col t-width2of12">
      <div class="Demo-fixture Demo-fixture--height4x">16</div>
    </div>
    <div class="Grid-col t-width2of12">
      <div class="Demo-fixture Demo-fixture--height4x">17</div>
    </div>
    <div class="Grid-col t-width2of12">
      <div class="Demo-fixture Demo-fixture--height4x">18</div>
    </div>
    <div class="Grid-col t-width2of12">
      <div class="Demo-fixture Demo-fixture--height4x">19</div>
    </div>
    <div class="Grid-col t-width2of12">
      <div class="Demo-fixture Demo-fixture--height4x">20</div>
    </div>
    <div class="Grid-col t-width2of12">
      <div class="Demo-fixture Demo-fixture--height4x">21</div>
    </div>
    <div class="Grid-col t-width1of12">
      <div class="Demo-fixture Demo-fixture--height4x">32</div>
    </div>
    <div class="Grid-col t-width1of12">
      <div class="Demo-fixture Demo-fixture--height4x">33</div>
    </div>
    <div class="Grid-col t-width1of12">
      <div class="Demo-fixture Demo-fixture--height4x">34</div>
    </div>
    <div class="Grid-col t-width1of12">
      <div class="Demo-fixture Demo-fixture--height4x">35</div>
    </div>
    <div class="Grid-col t-width1of12">
      <div class="Demo-fixture Demo-fixture--height4x">36</div>
    </div>
    <div class="Grid-col t-width1of12">
      <div class="Demo-fixture Demo-fixture--height4x">37</div>
    </div>
    <div class="Grid-col t-width1of12">
      <div class="Demo-fixture Demo-fixture--height4x">38</div>
    </div>
    <div class="Grid-col t-width1of12">
      <div class="Demo-fixture Demo-fixture--height4x">39</div>
    </div>
    <div class="Grid-col t-width1of12">
      <div class="Demo-fixture Demo-fixture--height4x">40</div>
    </div>
    <div class="Grid-col t-width1of12">
      <div class="Demo-fixture Demo-fixture--height4x">41</div>
    </div>
    <div class="Grid-col t-width1of12">
      <div class="Demo-fixture Demo-fixture--height4x">42</div>
    </div>
    <div class="Grid-col t-width1of12">
      <div class="Demo-fixture Demo-fixture--height4x">43</div>
    </div>
  </div>
</div>
{{#markdown}}
```html
<div class="Grid t-gutterReset">
  <div class="Grid-col t-width4of12">...</div>
  <div class="Grid-col t-width4of12">...</div>
  <div class="Grid-col t-width4of12">...</div>
</div>
```
{{/markdown}}





<h3>Responsive</h3>
<div class="Demo-field">
  <div class="Grid t-gutterReset">
    <div class="Grid-col t-sm-widthHalf t-md-width3of12 t-lg-width2of12">
      <div class="Demo-fixture Demo-fixture--height4x">01</div>
    </div>
    <div class="Grid-col t-sm-widthHalf t-md-width3of12 t-lg-width2of12">
      <div class="Demo-fixture Demo-fixture--height4x">02</div>
    </div>
    <div class="Grid-col t-sm-widthHalf t-md-width3of12 t-lg-width2of12">
      <div class="Demo-fixture Demo-fixture--height4x">03</div>
    </div>
    <div class="Grid-col t-sm-widthHalf t-md-width3of12 t-lg-width2of12">
      <div class="Demo-fixture Demo-fixture--height4x">04</div>
    </div>
    <div class="Grid-col t-sm-widthHalf t-md-width3of12 t-lg-width2of12">
      <div class="Demo-fixture Demo-fixture--height4x">05</div>
    </div>
    <div class="Grid-col t-sm-widthHalf t-md-width3of12 t-lg-width2of12">
      <div class="Demo-fixture Demo-fixture--height4x">06</div>
    </div>
    <div class="Grid-col t-sm-widthHalf t-md-width3of12 t-lg-width2of12">
      <div class="Demo-fixture Demo-fixture--height4x">07</div>
    </div>
    <div class="Grid-col t-sm-widthHalf t-md-width3of12 t-lg-width2of12">
      <div class="Demo-fixture Demo-fixture--height4x">08</div>
    </div>
    <div class="Grid-col t-sm-widthHalf t-md-width3of12 t-lg-width2of12">
      <div class="Demo-fixture Demo-fixture--height4x">09</div>
    </div>
    <div class="Grid-col t-sm-widthHalf t-md-width3of12 t-lg-width2of12">
      <div class="Demo-fixture Demo-fixture--height4x">10</div>
    </div>
    <div class="Grid-col t-sm-widthHalf t-md-width3of12 t-lg-width2of12">
      <div class="Demo-fixture Demo-fixture--height4x">11</div>
    </div>
    <div class="Grid-col t-sm-widthHalf t-md-width3of12 t-lg-width2of12">
      <div class="Demo-fixture Demo-fixture--height4x">12</div>
    </div>
  </div>
</div>
{{#markdown}}
```html
<div class="Grid t-gutterReset">
  <div class="Grid-col t-sm-widthHalf t-md-width3of12 t-lg-width2of12">...</div>
  <div class="Grid-col t-sm-widthHalf t-md-width3of12 t-lg-width2of12">...</div>
  <div class="Grid-col t-sm-widthHalf t-md-width3of12 t-lg-width2of12">...</div>
</div>
```
{{/markdown}}




<h3>Modifier: <code>.Grid--center</code></h3>
<div class="Demo-field">
  <div class="Grid Grid--center t-gutterReset">
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height4x">01</div>
    </div>
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height4x">02</div>
    </div>
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height4x">03</div>
    </div>
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height4x">04</div>
    </div>
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height4x">05</div>
    </div>
  </div>
</div>
{{#markdown}}
```html
<div class="Grid Grid--center t-gutterReset">
  <div class="Grid-col t-width4of12">...</div>
  <div class="Grid-col t-width4of12">...</div>
  <div class="Grid-col t-width4of12">...</div>
  <div class="Grid-col t-width4of12">...</div>
  <div class="Grid-col t-width4of12">...</div>
</div>
```
{{/markdown}}


<h3>Modifier: <code>.Grid--right</code></h3>
<div class="Demo-field">
  <div class="Grid Grid--right t-gutterReset">
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height4x">01</div>
    </div>
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height4x">02</div>
    </div>
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height4x">03</div>
    </div>
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height4x">04</div>
    </div>
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height4x">05</div>
    </div>
  </div>
</div>
{{#markdown}}
```html
<div class="Grid Grid--right t-gutterReset">
  <div class="Grid-col t-width4of12">...</div>
  <div class="Grid-col t-width4of12">...</div>
  <div class="Grid-col t-width4of12">...</div>
  <div class="Grid-col t-width4of12">...</div>
  <div class="Grid-col t-width4of12">...</div>
</div>
```
{{/markdown}}



<h3>Modifier: <code>.Grid--middle</code></h3>
<div class="Demo-field">
  <div class="Grid Grid--middle t-gutterReset">
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height8x">01</div>
    </div>
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height4x">02</div>
    </div>
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height8x">03</div>
    </div>
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height4x">04</div>
    </div>
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height8x">05</div>
    </div>
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height4x">06</div>
    </div>
  </div>
</div>
{{#markdown}}
```html
<div class="Grid Grid--middle t-gutterReset">
  <div class="Grid-col t-width4of12">...</div>
  <div class="Grid-col t-width4of12">...</div>
  <div class="Grid-col t-width4of12">...</div>
</div>
```
{{/markdown}}



<h3>Modifier: <code>.Grid--bottom</code></h3>
<div class="Demo-field">
  <div class="Grid Grid--bottom t-gutterReset">
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height8x">01</div>
    </div>
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height4x">02</div>
    </div>
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height8x">03</div>
    </div>
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height4x">04</div>
    </div>
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height8x">05</div>
    </div>
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height4x">06</div>
    </div>
  </div>
</div>
{{#markdown}}
```html
<div class="Grid Grid--bottom t-gutterReset">
  <div class="Grid-col t-width4of12">...</div>
  <div class="Grid-col t-width4of12">...</div>
  <div class="Grid-col t-width4of12">...</div>
</div>
```
{{/markdown}}



<h3>Modifier: <code>.Grid--float</code></h3>
<div class="Demo-field">
  <div class="Grid Grid--float t-clear t-gutterReset">
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height4x">01</div>
    </div>
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height4x">02</div>
    </div>
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height4x">03</div>
    </div>
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height4x">04</div>
    </div>
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height4x">05</div>
    </div>
    <div class="Grid-col t-width4of12">
      <div class="Demo-fixture Demo-fixture--height4x">06</div>
    </div>
  </div>
</div>
{{#markdown}}
```html
<div class="Grid Grid--float t-gutterReset">
  <div class="Grid-col t-width4of12">...</div>
  <div class="Grid-col t-width4of12">...</div>
  <div class="Grid-col t-width4of12">...</div>
</div>
```
{{/markdown}}
</section>


<section class="t-clear">
{{#markdown}}
### Install

```
npm install {{components.grid.pkg.name}} sircus-variables sircus-tools-width
```

### CSS import

```css
@import "{{components.grid.pkg.name}}";
@import "sircus-tools-width";
@import "sircus-tools-width/renponsive";
@import "sircus-variables";
```

### CSS

```css
{{{components.grid.css}}}
```

#### sircus-tools-width

```css
{{{tools.width.css}}}
```
{{/markdown}}
</section>

{{/content}}
{{/extend}}
