---
title: Tools Display
description:
name: tools-display
layout: page
base_url: "../../"
---
{{#extend "page"}}
{{#content "content"}}

<h2 class="t-mtXs t-mbMi t-fontMd t-normal">{{tools.display.pkg.description}}</h2>
<p class="t-mbGt t-mt0 t-fontSm"><a class="docs-link" href="{{tools.display.pkg.repository}}" target="_blank">{{tools.display.pkg.name}}</a> | v{{tools.display.pkg.version}}</p>


<section class="t-clear">
{{#markdown}}
### Install

```
npm install {{tools.display.pkg.name}} sircus-variables
```

### CSS import

```css
@import "{{tools.display.pkg.name}}";
@import "{{tools.display.pkg.name}}/responsive";
@import "sircus-variables";
```

### CSS

```css
{{{tools.display.css}}}
```

### Responsive CSS

```css
{{{tools.display.sm}}}
{{{tools.display.md}}}
{{{tools.display.lg}}}
```
{{/markdown}}
</section>

{{/content}}
{{/extend}}
