---
title: Tools Clear
description:
name: tools-clear
layout: page
base_url: "../../"
---
{{#extend "page"}}
{{#content "content"}}

<h2 class="t-mtXs t-mbMi t-fontMd t-normal">{{tools.clear.pkg.description}}</h2>
<p class="t-mbGt t-mt0 t-fontSm"><a class="docs-link" href="{{tools.clear.pkg.repository}}" target="_blank">{{tools.clear.pkg.name}}</a> | v{{tools.clear.pkg.version}}</p>


<section class="t-clear">
{{#markdown}}
### Install

```
npm install {{tools.clear.pkg.name}}
```

### CSS import

```css
@import "{{tools.clear.pkg.name}}";
```

### CSS

```css
{{{tools.clear.css}}}
```
{{/markdown}}
</section>

{{/content}}
{{/extend}}
