---
title: Tools width
description:
name: tools-width
layout: page
base_url: "../../"
---
{{#extend "page"}}
{{#content "content"}}

<h2 class="t-mtXs t-mbMi t-fontMd t-normal">{{tools.width.pkg.description}}</h2>
<p class="t-mbGt t-mt0 t-fontSm"><a class="docs-link" href="{{tools.align.pkg.repository}}" target="_blank">{{tools.width.pkg.name}}</a> | v{{tools.width.pkg.version}}</p>

<section class="t-clear">
  <h3>width</h3>

  <div class="Demo-field">
    <div class="t-width1of12 t-lineHeightXl Demo-fixture">1of12</div>
    <div class="t-width2of12 t-lineHeightXl Demo-fixture">2of12</div>
    <div class="t-width3of12 t-lineHeightXl Demo-fixture">3of12</div>
    <div class="t-width4of12 t-lineHeightXl Demo-fixture">4of12</div>
    <div class="t-width5of12 t-lineHeightXl Demo-fixture">5of12</div>
    <div class="t-widthHalf t-lineHeightXl Demo-fixture">Half</div>
    <div class="t-width7of12 t-lineHeightXl Demo-fixture">7of12</div>
    <div class="t-width8of12 t-lineHeightXl Demo-fixture">8of12</div>
    <div class="t-width9of12 t-lineHeightXl Demo-fixture">9of12</div>
    <div class="t-width10of12 t-lineHeightXl Demo-fixture">10of12</div>
    <div class="t-width11of12 t-lineHeightXl Demo-fixture">11of12</div>
    <div class="t-widthFull t-lineHeightXl Demo-fixture">Full</div>
  </div>
{{#markdown}}
```html
<div class="t-width1of12">...</div>
<div class="t-width2of12">...</div>
<div class="t-width3of12">...</div>
<div class="t-width4of12">...</div>
<div class="t-width5of12">...</div>
<div class="t-widthHalf">...</div>
<div class="t-width7of12">...</div>
<div class="t-width8of12">...</div>
<div class="t-width9of12">...</div>
<div class="t-width10of12">...</div>
<div class="t-width11of12">...</div>
<div class="t-widthFull">...</div>
```
{{/markdown}}
</section>


<section class="t-clear">
{{#markdown}}
### Install

```
npm install {{tools.width.pkg.name}} sircus-variables
```

### CSS import

```css
@import "{{tools.width.pkg.name}}";
@import "{{tools.width.pkg.name}}/responsive";
@import "sircus-variables";
```

### CSS

```css
{{{tools.width.css}}}
```

### Responsive CSS

```css
{{{tools.width.sm}}}
{{{tools.width.md}}}
{{{tools.width.lg}}}
```
{{/markdown}}
</section>

{{/content}}
{{/extend}}
