---
title: Tools Align Responsive
description:
name: tools-align-responsive
layout: page
base_url: "../../../"
---
{{#extend "page"}}
{{#content "content"}}

<p class="t-mb0">v{{tools.align.responsive.pkg.version}}</p>
<p class="docs-moduleName">{{tools.align.responsive.pkg.description}}</p>

<section class="t-clear">
  <h2>Rule Settings</h2>
{{#markdown}}
```css
{{{tools.align.responsive.sm}}}
{{{tools.align.responsive.md}}}
{{{tools.align.responsive.lg}}}
```
{{/markdown}}
</section>

{{/content}}
{{/extend}}
