---
title: Tools Shadow
description:
name: tools-shadow
layout: page
base_url: "../../"
---
{{#extend "page"}}
{{#content "content"}}

<h2 class="t-mtXs t-mbMi t-fontMd t-normal">{{tools.shadow.pkg.description}}</h2>
<p class="t-mbGt t-mt0 t-fontSm"><a class="docs-link" href="{{tools.shadow.pkg.repository}}" target="_blank">{{tools.shadow.pkg.name}}</a> | v{{tools.shadow.pkg.version}}</p>


<section class="t-clear">

  <h3>box-shadow</h3>

  <h4 class="t-uppercase t-normal t-fontSm t-letterSpacingLg">border-radius</h4>
  <div class="Demo-field">
    <div class="t-shadowXs t-gutter Demo-fixture--height4x">
      <small><code>.t-shadowXs</code></small>
    </div>
    <div class="t-shadowSm t-gutter Demo-fixture--height4x t-mtLg">
      <small><code>.t-shadowSm</code></small>
    </div>
    <div class="t-shadowMd t-gutter Demo-fixture--height4x t-mtLg">
      <small><code>t-shadowMd</code></small>
    </div>
    <div class="t-shadowLg t-gutter Demo-fixture--height4x t-mtLg">
      <small><code>t-shadowLg</code></small>
    </div>
    <div class="t-shadowXl t-gutter Demo-fixture--height4x t-mtLg">
      <small><code>t-shadowXl</code></small>
    </div>
  </div>
{{#markdown}}
```html
<div class="t-shadowXs">...</div>
<div class="t-shadowSm">...</div>
<div class="t-shadowMd">...</div>
<div class="t-shadowLg">...</div>
<div class="t-shadowXl">...</div>
```
{{/markdown}}

</section>


<section class="t-clear">
{{#markdown}}
### Install

```
npm install {{tools.shadow.pkg.name}} sircus-variables
```

### CSS import

```css
@import "{{tools.shadow.pkg.name}}";
@import "{{tools.shadow.pkg.name}}/responsive";
@import "sircus-variables";
```

### CSS

```css
{{{tools.shadow.css}}}
```

### Responsive CSS

```css
{{{tools.shadow.sm}}}
{{{tools.shadow.md}}}
{{{tools.shadow.lg}}}
```
{{/markdown}}
</section>

{{/content}}
{{/extend}}
