---
title: Components Table
description:
name: components-table
layout: page
base_url: "../../"
---
{{#extend "page"}}
{{#content "content"}}

<h2 class="t-mtXs t-mbMi t-fontMd t-normal">{{components.table.pkg.description}}</h2>
<p class="t-mbGt t-mt0 t-fontSm"><a class="docs-link" href="https://github.com/sircus/{{file.meta.name}}" target="_blank">{{components.table.pkg.name}}</a> | v{{components.table.pkg.version}}</p>

<section class="t-clear">

  <h3>Nomal</h3>
  <div class="Demo-field">
    <table class="Table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Color</th>
          <th>Size</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Jacket</td>
          <td>Navy</td>
          <td>M</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Pants</td>
          <td>Indigo</td>
          <td>32</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Boots</td>
          <td>Brown</td>
          <td>9</td>
          <td>-</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Type</th>
          <th>Color</th>
          <th>Size</th>
          <th>Price</th>
        </tr>
      </tfoot>
    </table>
  </div>
{{#markdown}}
```html
  <table class="Table">
    ...
  </table>
```
{{/markdown}}


  <h3>Even</h3>
  <div class="Demo-field">
    <table class="Table Table--even">
      <thead>
        <tr>
          <th>Type</th>
          <th>Color</th>
          <th>Size</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Jacket</td>
          <td>Navy</td>
          <td>M</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Pants</td>
          <td>Indigo</td>
          <td>32</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Boots</td>
          <td>Brown</td>
          <td>9</td>
          <td>-</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Type</th>
          <th>Color</th>
          <th>Size</th>
          <th>Price</th>
        </tr>
      </tfoot>
    </table>
  </div>
{{#markdown}}
```html
<table class="Table Table--even">
...
</table>
```
{{/markdown}}



  <h3>Border</h3>
  <div class="Demo-field">
    <table class="Table Table--border">
      <thead>
        <tr>
          <th>Type</th>
          <th>Color</th>
          <th>Size</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Jacket</td>
          <td>Navy</td>
          <td>M</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Pants</td>
          <td>Indigo</td>
          <td>32</td>
          <td>-</td>
        </tr>
        <tr>
          <td>Boots</td>
          <td>Brown</td>
          <td>9</td>
          <td>-</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Type</th>
          <th>Color</th>
          <th>Size</th>
          <th>Price</th>
        </tr>
      </tfoot>
    </table>
  </div>
{{#markdown}}
```html
<table class="Table Table--border">
...
</table>
```
{{/markdown}}
</section>


<section class="t-clear">
{{#markdown}}
### CSS

```css
{{{components.table.css}}}
```
{{/markdown}}
</section>

{{/content}}
{{/extend}}
