---
title: Documents
description: Home
layout: home
base_url: "./"
---
{{#extend "home"}}
{{#content "content"}}

<section class="t-clear t-gutter">
  <h1 class="t-mt0 t-mbGt t-sm-width7of12">{{sircus.pkg.description}}</h1>

  <div class="Flex Flex--middle t-flex t-gutterReset t-ptGt t-pbXs t-borderGray30 t-borderTop2x ">
    <div class="Flex-col t-widthFull t-sm-width3of12">
      <a class="docs-link Button" href="{{file.meta.base_url}}get-started/">Get Started</a>
    </div>
    <div class="Flex-col t-widthFull t-sm-width3of12">
      <a class="docs-link Button" href="https://github.com/sircus/sircus" target="_blank">Download on GitHub</a>
    </div>
    <div class="Flex-col t-widthFull t-sm-width6of12 t-ptTn">
      {{> social-buttons}}
    </div>
  </div>

  <div class="Flex t-flex t-gutterReset t-mbMd">
    <div class="Flex-col Flex-col--fit">
      <div class="t-borderTop2">
        <div class="t-flex Flex t-gutterReset">
          <div class="Flex-col t-widthHalf t-sm-width3of12">
            <p>Version: <strong>{{sircus.pkg.version}}</strong></p>
          </div>
          <div class="Flex-col t-widthHalf t-sm-width3of12">
            <p>Gzipped size: <strong>{{sircus.stats.gzippedSize}} B</strong></p>
          </div>
          <div class="Flex-col t-widthHalf t-sm-width3of12">
            <p>Rules: <strong>{{sircus.stats.rules}}</strong>
            </p>
          </div>
          <div class="Flex-col t-widthHalf t-sm-width3of12">
            <p>Selectors: <strong>{{sircus.stats.selectors}}</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<section class="t-clear t-ptLg t-gutter">
  <h2 class="t-pbXs t-borderGray30 t-borderBottom2x ">34 Modules</h2>
  <div class="Flex t-flex t-gutterReset t-ptLg t-pbLg">
    <div class="Flex-col Flex-col--fit">
      <div class="t-flex Flex t-gutterReset">
        <div class="Flex-col t-sm-widthHalf">
          <div class="Flex t-flex t-gutterReset">
            <div class="Flex-col t-widthHalf">
              <h4 class="t-uppercase t-normal t-fontMd t-letterSpacingLg">Variables</h4>

              <ul class="ListReset ListInline docs-homeList">
                {{> links/link-variables}}
              </ul>
            </div>
            <div class="Flex-col t-widthHalf">
              <h4 class="t-uppercase t-normal t-fontMd t-letterSpacingLg">Elements</h4>
              <ul class="ListReset ListInline docs-homeList">
                {{> links/link-elements}}
              </ul>
            </div>
          </div>
          <h4 class="t-uppercase t-normal t-fontMd t-letterSpacingLg">Components</h4>
          <ul class="ListReset ListInline docs-homeList">
            {{> links/link-components}}
          </ul>
        </div>
        <div class="Flex-col t-sm-widthHalf">
          <h4 class="t-uppercase t-normal t-fontMd t-letterSpacingLg">Tools</h4>
          <ul class="ListReset ListInline docs-homeList">
            {{> links/link-tools}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{{/content}}
{{/extend}}
